In [4]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [8]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [24]:
arquivo = "z0019_2.csv"
data_ingestao = datetime.now()
df = pd.read_csv(f"../landing/{arquivo}", sep=";")
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10004    SERRA  BT50    100    200  z0019_2.csv 2025-07-14 17:38:53.152831
1  10005  MACHADO  BT50    100    100  z0019_2.csv 2025-07-14 17:38:53.152831
2  10003    PREGO  BT10    100     60  z0019_2.csv 2025-07-14 17:38:53.152831

In [25]:
con.execute("""
            CREATE TABLE IF NOT EXISTS bronze_produtos
            (
                NATBR VARCHAR,
                MAKTX VARCHAR,
                WERKS VARCHAR,
                MAINS VARCHAR,
                LABST VARCHAR,
                nome_arquivo VARCHAR,
                data_ingestao TIMESTAMP
            )
            """)

In [ ]:
con.execute("insert into bronze_z0019 SELECT * FROM df")

In [29]:
resultado = con.execute(""" 
SELECT * FROM bronze_z0019
""").fetchdf()
resultado.head()

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-07-14 17:19:33.148610
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-07-14 17:19:33.148610
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-07-14 17:19:33.148610
3  10004     SERRA  BT50   100   200  z0019_2.csv 2025-07-14 17:38:53.152831
4  10005   MACHADO  BT50   100   100  z0019_2.csv 2025-07-14 17:38:53.152831

In [28]:
con.execute("alter table bronze_produtos rename to bronze_z0019")

In [30]:
con.close()